{% extends 'index/base.html' %}
{% block title %}
    {{ ticker.title }}
{% endblock %}
{% block body %}
    <div class="box">
        <div class="block">
            <h1 class="is-1 title">
                {{ ticker.title }}
            </h1>
        </div>
        <div class="block">
            <h2 class="is-2 subtitle">
                {{ ticker.code }}
            </h2>
        </div>
        <div class="block">
            {{ ticker.description }}
        </div>
        {% if ticker.get_last_real_candle %}
            <div class="block">
                <div class="block">
                    <h3 class="is-3 subtitle">
                        Данные о последней свече
                    </h3>
                </div>
                <div class="block">
                    <a href="{% url 'index:archive' slug=ticker.slug %}" class="button is-info is-outlined">
                        Архив
                    </a>
                </div>
                <div class="block">
            <span>
                Дата открытия свечи:
            </span>
                    <span class="tag">
                {{ ticker.get_last_real_candle.begin }}
            </span>
                </div>

                <div class="block">
            <span>
                Дата закрытия свечи:
            </span>
                    <span class="tag">
                {{ ticker.get_last_real_candle.end }}
            </span>
                </div>
                <div class="block">
            <span>
                Открытие свечи:
            </span>
                    <span class="tag">
                {{ ticker.get_last_real_candle.open }}
            </span>
                </div>
                <div class="block">
            <span>
                Закрытие свечи:
            </span>
                    <span class="tag">
                {{ ticker.get_last_real_candle.close }}
            </span>
                </div>
                <div class="block">
            <span>
                Самая высокая цена за свечу:
            </span>
                    <span class="tag">
                {{ ticker.get_last_real_candle.high }}
            </span>
                </div>

                <div class="block">
                <span>
                    Самая низкая цена за свечу:
                </span>
                    <span class="tag">
                    {{ ticker.get_last_real_candle.low }}
                </span>
                </div>
                <div class="block">
                <span>
                    Количество сделок:
                </span>
                    <span class="tag">
                    {{ ticker.get_last_real_candle.volume }}
                </span>
                </div>
            </div>
        {% else %}
            <div class="block">
                Нет данных о прошлых свечах!
            </div>
        {% endif %}
        {% if ticker.get_last_predicted_candle %}
            <div class="block">
                <div class="block">
                    <h3 class="is-3 subtitle">
                        Данные о предсказании свечи
                    </h3>
                </div>
                <div class="block">
            <span>
                Открытие свечи:
            </span>
                    <span class="tag">
                {{ ticker.get_last_predicted_candle.open }}
            </span>
                </div>
                <div class="block">
            <span>
                Закрытие свечи:
            </span>
                    <span class="tag">
                {{ ticker.get_last_predicted_candle.close }}
            </span>
                </div>
                <div class="block">
            <span>
                Самая высокая цена за свечу:
            </span>
                    <span class="tag">
                {{ ticker.get_last_predicted_candle.high }}
            </span>
                </div>

                <div class="block">
            <span>
                Самая низкая цена за свечу:
            </span>
                    <span class="tag">
                {{ ticker.get_last_predicted_candle.low }}
            </span>
                </div>
            </div>

        {% else %}
            <div class="block">
                Нет данных о предсказанных свечах!
            </div>
        {% endif %}
    </div>
{% endblock %}